body {
  background-color: #F1EFEC;
}

.grid,
.square-row {
  display: flex;
}

.square-row,
.square {
  margin: 1px;
  flex-grow: 1;
}

.grid {
  flex-direction: column;

  height: 89vh;
  width: 89vh;

  margin: auto;
}

.square-row {
  flex-direction: row;

  width: 100%;
}

.square {
  background-color: #D4C9BE;
  opacity: 0.1;

  height: 100%;
  transition: background-color 0.5s;
}

.button {
  font-weight: 500;

  margin: 2vh auto;
  display: block;

  font-size: 3vh;
  padding: 0.8vh 3.6vh;

  border: solid #123458 0vh;
  border-radius: 1vh;

  background-color: #D4C9BE;
  color: #123458;

  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.5;
}
